.gallery {
	background-color: black;
	border: 1px solid #FF8000;
	color: #FF8000;
	font-family: sans-serif;
}

/** LISTING - DIRECTORY **/
.gallery .listing > .item.directory {
	margin: 2px;
	border: 1px solid #99FF00;
	color: #99FF00;
	background-color: green;
	display: inline-block;
	font-size: 20px;
	padding: 2px 5px 2px 3px;
	cursor: pointer;	
}

.gallery .listing > .item.directory:hover {
	color: black;
	background-color: #99FF00;
}

/** LISTING - IMAGE **/
.gallery .listing > .item.image {
	margin: 2px;
	color: #ff8000;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	font-size: 10px;
}

.gallery .listing > .item.image > .name {
	width: 128px;
	display: inline-table;
	word-break: break-word;
}

.gallery .listing > .item.image:hover {
	color: #99ff00
}

.gallery .listing > .item.image > .thumb {
	width: 128px;
	height: 128px;
	border: 1px solid #ff8000;
}

.gallery .listing > .item.image:hover > .thumb {
	border: 1px solid #99ff00;
}

/** PATH **/
.gallery .path {
	border-bottom: 1px solid #ff8000;
}

.gallery .path > .path-part {
	font-weight: bold;
	cursor: pointer;
	padding: 2px;
	display: inline-block;
	border: 1px solid black;
}

.gallery .path > .path-part:hover {
	color: #000000;
	background-color: #FFCC80;
}

.gallery .path > .path-part:not(:first-child):before {
	content: ">";
}